@model WebApplication3.Models.DateTimeModel

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Edit datetimepicker</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm(WebApplication3.Common.Constants.REDIS_KEY_DATETIME, WebApplication3.Common.Constants.CONTROLS_VIEW_NAME, FormMethod.Post))
        {
            <table>
                <tr>
                    <td class="bottompadding rightpadding">TextColor</td>
                    <td class="bottompadding">@Html.TextBoxFor(x => x.TextColor)</td>
                </tr>
                <tr>
                    <td>Format</td>
                    <td>@Html.DropDownListFor(x => x.Type, new SelectList(ViewBag.Items, "Value", "Text"))</td>
                </tr>
            </table>
            <input type="submit" value="Save changes" class="saveButton" />
        }
    </div>
</div>
